<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/css/stylesheet.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body id="menupage">
      <nav>
          <div class="nav-wrapper">
            <a href="#!" class="brand-logo"></a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <%if (!user){ %>
              <li><a href="/login">Login</a></li>
              <li><a href="/signup">Signup</a></li>
              <%}%>
              <li><a href="/">Home</a></li>
              <%if (user){ %>
              <li><a href="/logout">Logout</a></li>
              <%}%>
            </ul>
          </div>
        </nav>

        <ul class="sidenav" id="mobile-demo">
            <%if (!user){ %>
              <li><a href="/login">Login</a></li>
              <li><a href="/signup">Signup</a></li>
              <%}%>
              <li><a href="/">Home</a></li>
              <%if (user){ %>
              <li><a href="/logout">Logout</a></li>
              <%}%>
          </ul>
     
    <div class="row1 center-block">

      <div class="bk-img center">
        <p class="center code <%=status%> "><%=msg%></p>
        <a href="/resturants" class="btn-small waves-effect #B30D34"> Back</a>
      </div>
             </div>
          

      



   
      <script src="/jquery/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="//voguepay.com/js/voguepay.js"></script>
<script> 
   document.addEventListener('DOMContentLoaded', function() {
      
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems);
      });

      document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.collapsible');
        var instances = M.Collapsible.init(elems);
      });

      document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.modal');
    var instances = M.Modal.init(elems);
  });

      $(document).ready(function(){
        var order=[];
        $('.row2').css({display:'none'});
         var j;
     
        $(".btn-order").click(function(){
          var j=1;
          $('.row2').css({display:'block'});
          
      var val1=  $(".active").children("div.value1").text();
      var val2=  $(".active").find("span.value2").text();
      var code = $(".code").text();
      var quantity=1;
      order.push({"name":val1, "price":val2, "code":code, "quantity":quantity});
    console.log(order);  
    
     
   var element = $('<div class="row order-row"><div class="col s8 details"><button class="btn-floating waves-effect minus" >-</button><button class="btn-floating waves-effect plus">+</button><span class="j">'+order[order.length - 1].quantity +'</span>x ' +'<span class="name">'+ order[order.length - 1].name +'</span><span class="quan"></span>'+'</div> <div class="col s3 price"><b><span class="price">'
    + order[order.length - 1].price +'</span></b></div><div class="col s1"> </div></div>') ;
   
   $('.summary').append(element);

   $(".minus", element).click(function(){
        if (   $(this).siblings("span.j").text() > 1){
           j-- ;
           $(this).siblings("span.j").text(j);
           for(var i=0; i<order.length; i++){
           if($(this).siblings("span.name").text() ==order[i].name){
       // var index= order.indexOf(order[i].name);
        order[i].quantity =  j;
        $(this).siblings("span.quan").text(order[i].quantity);
           }}
  
          /**/
           
        }else{  $(this).parents("div.row").remove();}
          for (var i=0; i < order.length; i++){
    
      $('#tray').val(JSON.stringify(order));}
         //  $(".j").text(j);
          });
     $(".plus",element).click(function(){
      if (   $(this).siblings("span.j").text() < 4){
        j++;
        $(this).siblings("span.j").text(j);
        for(var i=0; i<order.length; i++){
           if($(this).siblings("span.name").text() ==order[i].name){
       // var index= order.indexOf(order[i].name);
        order[i].quantity =  j;
        $(this).siblings("span.quan").text(order[i].quantity);
           }}
      }
      for (var i=0; i < order.length; i++){
    
      $('#tray').val(JSON.stringify(order));}
          });    

          
        
        
     /*     $(".submit").click(function(){
  localStorage.setItem('order',JSON.stringify(order))
window.location.href="/cart"
       
        
        });       */

})
        
        

          
    })
    

     /* var ordermenu=[];
     
      function order(){
     
      var value1=document.querySelector('.value1').innerHTML;
        var value2=document.querySelector('.value2').innerHTML;
        ordermenu.push({"name":value1, "quantity":value2});
       console.log(ordermenu);
       console.log(value1);
      }

      var quantity= 1;
      function add(){
      var field=document.getElementById('quantity');
       field.value =quantity;
       quantity ++;
    }
*/
     

     
</script>
  <script>
    closedFunction=function() {
        alert('window closed');
    }

     successFunction=function(transaction_id) {
        alert('Transaction was successful, Ref: '+transaction_id)
    }

     failedFunction=function(transaction_id) {
         alert('Transaction was not successful, Ref: '+transaction_id)
    }
</script>
      <script>
        function pay3() {
            Voguepay.init({
                v_merchant_id: 'demo',
                total: 1500,
                notify_url: 'http://domain.com/notification.php',
                cur: 'NGN',
                merchant_ref: 'ref123',
                memo: 'Payment for shirt',
                recurrent: true,
                frequency: 10,
                developer_code: '5a61be72ab323',
                store_id: 1,
                loadText:'Custom load text',
                items: [
                    {
                        name: "Item name 1",
                        description: "Description 1",
                        price: 500
                    },
                    {
                        name: "Item name 2",
                        description: "Description 2",
                        price: 1000
                    }
                ],
                customer: {
                   name: 'Customer name',
                   address: 'Customer address',
                   city: 'Customer city',
                   state: 'Customer state',
                   zipcode: 'Customer zip/post code',
                   email: 'Customer email',
                   phone: 'Customer phone'
               },
                closed:closedFunction,
                success:successFunction,
                failed:failedFunction
            });
        }
     </script>
  </body>
</html>