.row1{
    width: 100%;
}
html{padding: 0px;
margin:0px}    

body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    background:linear-gradient(180deg,  rgb(230, 230, 230),rgb(230, 230, 230),rgb(214, 214, 214) );
  

}
.alert-danger{background-color: rgb(241, 35, 35)} 
.alert-success{background-color: rgb(21, 214, 102); padding-top:5px;padding-bottom:5px }
.h1{
    color:red;
}
.bk-img{
    background-color: rgba(2, 0, 0, 0.9);
    height:220px;
}
.bk-img2{  background-image:url("/images/small/doughnut.jpeg"); 
    background-position:center;
    height:100vh;}
.board{
    background-color: burlywood;
    margin-top:40px;
}
.body2{background-image: url("/images/small/biggfruitsjpeg");
}
.btn-floating{
    line-height: 13px;
    height:18px;
    padding: 1px;
    margin-right: 3px;
    width:15px;
    background-color:#B30D34;
    text-align: center;
}
.btn-large{
    background-color:  #B30D34;
   margin-top:30px; 
    width: 80%
}
.btn-small{
    background-color:  #B30D34;
  
}

.btnstyle {border-radius:30px }
.center{
    text-align: center;
}
.container-fluid{
    width:100%;
}
.collapsible-body{
    padding-bottom: 0px;
}

.fab{height:30px }

.full-page{height:100vh;
width:100%;
 }
 .list{
     color:rgb(255, 255, 255) ;
     width:100% ;
    background-color: rgba(54, 33, 8, 0.8);
   margin-top:40px;
   padding-bottom:30px;
  }

   .list-head{ padding-top:30px;
    padding-bottom:10px;
    background-color: rgba(0, 0, 0, 0.8);}

   .list-item{   color:rgb(231, 225, 225); font-size: 14px ;}
   
 .page-footer{
     background-color: rgb(224, 87, 33);
        padding: 0px
 }
.half1{
    text-align: center;margin-bottom:30px
}
.image{padding:0px;margin: 0px }
#email,#password{color:white !important }
.order-title{
    text-decoration: underline;
}

.res-list {
    border-bottom:1px rgb(143, 140, 140) solid;
    padding:10px;
        color:rgb(88, 87, 87);
}

.row2{
    border:1px #ffffff solid;
    background-color: rgba(255, 255, 255, 0.6);
}
.sidenav{background-color: rgba(0, 0, 0, 0.8);  padding-top:50px; }
.sidenav li a{ color: rgb(211, 211, 211)}

.submit{

    width:100%;
}
.slider{
    color: white;
    height:200px;

}
.slide{
    position: absolute;
    transition: opacity .5s ease-in;
  }
  
.slide + .slide { opacity: 0; }

.start{
   margin-bottom: 20px;
   
}
.span{color:white ;font-size:12px; }
.text{font-size:50px;
    margin-top:80px;  
margin-bottom: 10px }
.text2{  
margin-bottom: 40px }
.border{
    background-color: rgb(202, 168, 126);
}
radio{font-size: 5px}
.top-label{
border: 1px rgb(218, 218, 218) solid;
}
.top-text{
    text-align: center;
    color: rgb(231, 230, 230);
    font-size: 25px
}

.wrapper1{ width:100%;
opacity:0.8;
background-color: rgb(8, 1, 20);
border:1px solid rgb(170, 170, 170);
border-radius: 5px;
margin-top:  60px;
color: rgb(233, 233, 233);
padding:10px;
overflow: auto }

nav{  background-color:#ec9c3a;;border:transparent 0px; box-shadow: 0px  }

.mainDiv{
   height: 90%;
   font-size: 12px;
   font-family:Georgia, 'Times New Roman', Times, serif;
   margin-left: 10px ;
 
}
.modal{
    width:300px;
    color:white;
    background-color: rgba(43, 3, 17, 0.9);
   
    border-radius: 20px
}

#menupage{background:url("/images/small/food4.jpg"); background-size: cover;  }
.pp{  color: white; font-size:40px; padding-top: 50px ;}

.success{  color: white; font-size:25px; padding-top: 70px ;}
.danger{  color: rgb(255, 255, 255); font-size:25px; padding-top: 70px ;}


@media only screen and (min-width:768px){
    
    
    .row1{
        width: 70%;
    }
.text{font-size:55px;
margin-top:80px;  }

.order-row{
    width: 50%
}


.bk-img{
    background-color: rgba(2, 0, 0, 0.9);
    background-position:center;
    height:220px;
}

.bk-img2{  background-image:url("/images/small/doughnut.jpeg");
    background-position:center;
   
    height:100vh;}

    .list{
     color:rgb(255, 255, 255) ;
     width:50% ;
    background-color: rgba(54, 33, 8, 0.8);
    border-radius: 20px;
   margin-top:60px;
   padding-bottom:30px;
 }

   .list-head{ padding-top:30px;
    padding-bottom:10px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 20px;}

.wrapper1{ width:30%;
    opacity:0.8;
background-color: rgb(8, 1, 20);
border:1px solid rgb(170, 170, 170);
border-radius: 5px;
margin-top:  100px;
color: rgb(233, 233, 233);
padding:10px;
overflow: auto }}